<div class="container mt-5">
  <h3>Create a new list</h3>
  <%= simple_form_for @list html: { data: { turbo: false } } do |f| %>
    <%= f.input :name, placeholder: 'Drama' %>
    <%= f.input :photo, as: :file %>
    <%= f.submit class: 'btn btn-primary' %>
  <% end %>
</div>
